<h1>Welcome!</h1>
<div class="container">
    <p>Welcome, {{name | uppercase}}.  You are logged in! </p>
    <br>
    <p>Manage your To Do List, <a routerLink="/listTodos">HERE</a></p>
</div>
<div class="container">
    <p>Get customized Welcome Message</p>
    <button class="btn btn-primary" (click) = "getPersonalizedWelcomeMessage()">Get Welcome Message</button>
</div>
<div class="container" *ngIf = "welcomeMessage">
    <h2>Here is your customized Welcome Message</h2>
    {{welcomeMessage | titlecase}}
</div>
<div class="container" *ngIf = "errorMessage" id="errorMessage">
    {{errorMessage}}
</div>