<div>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a routerLink="" class="navbar-brand">Tech-Colossus</a></div>
        <!-- ul.navbar-nav>li>a.nav-link -->
        <ul class="navbar-nav">
            <li><a routerLink="/welcome/zexl" class="nav-link">Home</a></li>
            <li><a routerLink="/listTodos" class="nav-link">To Do List</a></li>
        </ul>
        <!-- ul.navbar-nav.navbar-collapse.justify-content-end -->
        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a routerLink="" class="nav-link">Login</a></li>
            <li><a routerLink="/logout" class="nav-link">Logout</a></li>
        </ul>
    </nav>
</div>