<h1>To Do List Item</h1>
<div class="container">
    <form (ngSubmit) = "!todoForm.invalid && saveTodo()" #todoForm="ngForm">
        <fieldset class="form-group">
            <label>Description</label>
            <input 
            type="text" 
            class="form-control" 
            name="description" 
            required="required"
            [(ngModel)] = "todo.description"
            >
        </fieldset>
        <fieldset class="form-group">
            <label>Target Date</label>
            <input 
            type="date" 
            class="form-control" 
            name="targetDate" 
            required="required"
            [ngModel] = "todo.targetDate | date: 'yyyy-MM-dd'"
            (ngModelChange) = "todo.targetDate = $event"
            >
        </fieldset>
        <!-- <mat-radio-group aria-label="Completion Status">
            <mat-radio-button value="1">New</mat-radio-button>
            <mat-radio-button value="2">In Progress</mat-radio-button>
            <mat-radio-button value="3">Finished</mat-radio-button>
        </mat-radio-group> -->
        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>